body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 0.75em; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

a.ext-link {
    color: grey;
}

a:visited {
    color: inherit;
}

a:hover, a:active, a:focus {
    text-decoration:none;
    color: inherit;
}

hr.styled {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-bottom: 10px;
}